
  .card
  {
    margin: 0%;
    width: 400px;
    height: 450px;
    position: relative;
    left: 35%;
    top: 85px;
    border-radius: 21px;

    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }