<p>
    <mat-toolbar>
        <a href="#">
        <img class="logo"src="assets/logo.png" style="height: 30px; width:30px;">
        </a>
        <div class="matbtn"> 
        <a href="home.component.html">
        <button mat-button >Home</button>
        </a>
        <a href="login.component.html">
        <button mat-button >Login</button>
        </a>
        <a href="register.component.html">
        <button mat-button >Register</button>
        </a>
        </div>
    </mat-toolbar>
  </p>
  <div class="input-group">
