<p>
    <mat-toolbar>
        <a href="/test">
        <img class="logo"src="assets/logo.png" style="height: 30px; width:30px;">
        </a>
        <div class="matbtn"> 
            <a href="/home">
        <button mat-button >Home</button>
            </a>
            <a href="/login">
        <button mat-button >Login</button>
            </a>
            <a href="/register">
        <button mat-button >Register</button>
            </a>
        </div>
    </mat-toolbar>
  </p>
  <div class="input-group">
