@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Nunito:wght@300&family=Quicksand:wght@300&display=swap');

.topbar {
  height: 60px;
}

.logo {
  pointer-events: cursor;
  position: relative;
  top: -2px;
}

.matbtn {
  font-family: 'Quicksand', sans-serif;
  padding: 20px;
}

button:hover {
  background: #4fb783;
  transition: .3s ease-in;

}
