<div class="topbar">
    <p>
        <mat-toolbar>
            <a href="/test">
                <img class="logo" src="assets/filmlogo.png" style="height: 40px; width:35px;">
            </a>
            <div class="matbtn">
                <a href="/home">
                    <button mat-button style="color: white;font-family: 'Jost', sans-serif;">Home</button>
                </a>
                <a href="/login">
                    <button mat-button style="color: white;font-family: 'Jost', sans-serif;">Login</button>
                </a>
            </div>
        </mat-toolbar>
    </p>
</div>