
  <div class="form">
    <div class="title">Resume</div>
    <div class="input-container ic1">
      <input id="Name" class="input"  type="text" placeholder="Title" />
    </div>
    <div class="input-container ic2">
      <input id="phoneNo" class="input"  type="text" placeholder="Description" />
    </div>
    <div class="input-container ic2">
      <input id="phoneNo" class="input"  type="text" placeholder="Image-Url" />
    </div>
    <div class="input-box ic3">
      <textarea id="email" class="input"  type="text" placeholder="Review"></textarea> 
    </div>
    <button type="text" class="submit" >submit</button>
  </div>



