@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Nunito:wght@300&family=Quicksand:wght@300&display=swap');

.reviewcard
{
    min-width: 200px;
    min-height: 300px;
}
.review
{
    font-family: 'Quicksand', sans-serif;
}