<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

</head>

<body>
    <!-- <img class="bkghome" src="assets/backgroundimg.jpeg"> -->
    <h1 class="heading" style="text-align: center;">
        WATCH A NEW MOVIE TODAY!
    </h1><br>
    <a href="/catalogue">
        <button class="btn" mat-raised-button color="accent">Get Started</button>
    </a>
</body>

</html>