@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Nunito:wght@300&display=swap');

.bkghome
{
    margin: auto;
}

.heading
{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    position: relative;
    top: 35%;
}
.btn
{
    position: relative;
    left: 43.5%;
    bottom: 50%;
}