@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


.bkg
{   min-height: 150%;
    min-width: 100%;
    background: linear-gradient(to bottom, #212121, #4fb783, #212121);
}

.title
{
    max-width: 55%;
    position: absolute;
    left: 90px;
    top: 45%;
    font-family: 'Staatliches', cursive;
    font-size:70px;
    text-align: left;
}

.review
{
    position: relative;
    top: 200px;
    left: 5%;
    max-width: 700px;
    max-block-size: 10%;
    text-align: left;
}

.image
{
    position: relative;
    top: 80px;
    left: 60%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;

}

.btn 
{
    position: absolute;
    top: 650px;
    left: 75%;
    text-decoration: none;
    color: #1cc49d;
    background-color: #1b2f31;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;
    font-size: large;
    font-weight: 600;
  }

  .delete {
    position: absolute;
    top: -2px;
    right: 110px;
    margin: 15px;
  }