@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


.bkg
{   
    min-width: 100%;
    min-height: 200%;
    background: linear-gradient(to bottom, #212121, #4fb783, #212121);
}

.title
{
    max-width: 55%;
    position: absolute;
    left: 90px;
    top: 45%;
    font-family: 'Staatliches', cursive;
    font-size:70px;
    text-align: left;
}

.review
{
    position: relative;
    top: 200px;
    left: 5%;
    max-width: 90%;
    max-block-size: 10%;
    text-align: left;
}

.image
{
    position: relative;
    top: 80px;
    left: 60%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;

}

.btn 
{
    position: absolute;
    top: 14px;
    right: 30px;
    font-size: small;
  }
  button:hover {
    background: #4fb783;
    transition: .3s ease-in;
  
  }

