.example-spacer {
    flex: 1 1 auto;
  }  

  .logo
  {
    pointer-events: cursor;
  }

  .card
  {
    width: 400px;
    height: 400px;
    position: relative;
    left: 35%;
    top: 15%;
    background-color: black;
  }

  .emailform
  {
    margin-left: 5px;
  }

  .logincard
  {
    text-align: center;
  }
  .width
  {
    
  }
