
  .card
  {
    width: 400px;
    height: 400px;
    position: relative;
    left: 35%;
    top: 15%;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }