@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Nunito:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  background: linear-gradient(to bottom, #212121, #4fb783, #212121);
}

.testcard {
  text-align: center;
  background: linear-gradient(to bottom, #212121, #4fb783, #212121);
}

.card {
  min-width: 280px !important;
  max-width: 280px;
  min-height: 450px;
  max-height: 450px;
  background-color: #212121;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  /* display: flex; */
  margin: 0%;
  box-shadow: 5px 20px 50px #000;
  place-items: center !important;
  align-items: center !important;
  place-content: center !important;
}

.title {
  font-family: 'Quicksand', sans-serif;
  max-width: 280px;
  max-height: 30px;
  font-size: large;
}

.imgs {
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  max-width: 250px;
  min-height: 160px;
  max-height: 160px;
  border-radius: 5px;
  position: relative;
  right: 1.5px;
}

.footcard {
  max-height: 100px;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.footer {
  padding: 40px 0;
  background-color: #212121;
}

.icons {
  text-align: center;
  padding-bottom: 50px;
}

.list {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0px;
  font-style: oblique;
  text-decoration: none;
  padding-left: 30px;
  position: relative;
  right: 21px;
}

.icons a {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
  width: 200px;
}

button:hover {
  background: #00000000;
  transition: .3s ease-in;

}

.description {
  font-family: 'Barlow Semi Condensed', sans-serif;
  min-height: 130px;
  max-height: 150px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
  z-index: 3;
  border-color: #4fb783 ! important;
  transition: .3s ease-in-out;

}

.review {
  position: absolute;
  top: -2px;
  right: -1px;
  margin: 15px;
}

.display {
  max-width: fit-content;
  max-height: fit-content;
  margin: 22px;
  display: inline-flex;
}

.readmorebtn {
  position: relative;
  bottom: 15px;
}
.delete {
  position: absolute;
  top: -2px;
  right: 110px;
  margin: 15px;
}
